@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Montserrat', sans-serif; }

button {
  cursor: pointer; }

header {
  width: 100%;
  height: 100vh;
  background: url(../imgs/bg2.jpg) center center;
  background-size: cover; }
  header .wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center; }

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.hamburger {
  font-size: 35px;
  position: fixed;
  top: 15px;
  right: 25px;
  color: white;
  z-index: 2;
  cursor: pointer; }
  .hamburger i {
    text-shadow: 0px 0px 5px #000; }

.logo {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
  margin: 0 20px; }

.logo img {
  max-height: 23px;
  line-height: 35px;
  filter: invert(100%); }

.logo span {
  font-size: 38px;
  margin-left: -5px;
  color: #fff;
  font-weight: 200; }

.nav {
  background: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out; }

.nav ul {
  list-style-type: none;
  width: 60%; }

.nav li {
  text-align: center;
  margin: 25px 0;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  cursor: pointer; }

.ex-hide {
  font-size: 60px !important;
  font-weight: 200 !important;
  cursor: pointer; }

.special {
  padding: 15px 30px;
  border: 1px solid #5c7cc7;
  border-radius: 35px; }

.landing-page {
  width: 100%; }

.landing-page h1 {
  font-size: 38px;
  width: 100%;
  text-align: center;
  color: #fff; }

.landing-page p {
  color: #70abed;
  padding: 0 20px;
  margin-top: 20px;
  text-align: center; }

.button-group {
  margin: 60px 20px; }

.button-group a {
  padding: 20px 30px;
  color: white;
  font-size: 18px;
  display: block;
  width: 100%;
  border: none;
  margin: 10px 0;
  text-align: center; }

.do {
  background: #6166ed; }

.vid {
  background: #302d64; }

.img-group {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0; }

.img-group img {
  display: none; }

.mobile {
  max-height: 70px;
  display: block !important;
  margin: 0 auto; }

.side {
  width: 100%;
  margin: 30px 0; }
  .side img {
    width: 100%;
    padding: 0 20px; }
  .side h3 {
    color: #4b479e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px; }
  .side p {
    text-align: center;
    font-size: 16px;
    line-height: 30px; }

.whatwedo {
  margin: 15px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .whatwedo .right {
    order: 1; }
  .whatwedo .left {
    order: 2; }
  .whatwedo .modals {
    order: 3; }

.modals {
  margin: 0 20px; }

.modal {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  padding: 35px;
  margin: 40px 0; }
  .modal img {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 35px;
    display: block; }
  .modal h4 {
    font-weight: 600;
    color: #161765;
    font-size: 25px;
    margin-bottom: 35px; }
  .modal p {
    color: #161765;
    font-size: 18px;
    margin-bottom: 65px; }
  .modal button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    color: white;
    font-size: 18px;
    background: #4b479e; }
    .modal button i {
      color: #52e6c7; }

.tech1, .tech2 {
  background: #f0f0f0; }
  .tech1 .wrapper, .tech2 .wrapper {
    padding: 15px 20px 0 20px;
    display: flex;
    flex-direction: column; }
  .tech1 p:nth-of-type(1), .tech2 p:nth-of-type(1) {
    margin-bottom: 20px; }
  .tech1 img, .tech2 img {
    padding: 0; }

.tech2 {
  background: none; }

footer {
  background: url(../imgs/bg1.jpg) center center;
  background-size: cover;
  color: #fff;
  width: 100%; }
  footer .wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column; }

.contact {
  order: 2;
  width: 100%;
  margin-top: 50px; }
  .contact p {
    font-size: 18px;
    text-align: center; }
    .contact p span {
      color: #76ad75; }
  .contact hr {
    border: none;
    margin: 10px 0; }
  .contact .socials {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%; }
    .contact .socials i {
      cursor: pointer;
      font-size: 35px;
      margin: 0 15px;
      transition: all 0.3s ease-in-out; }
      .contact .socials i:hover {
        color: #76ad75; }

.form {
  order: 1;
  width: 100%;
  margin: 50px auto 0; }
  .form h3 {
    text-align: center;
    font-size: 30px; }
  .form .input-group {
    width: 100%;
    position: relative;
    margin: 30px 0; }
    .form .input-group input {
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      width: 100%;
      font-size: 20px;
      padding: 10px 5px;
      color: #fff;
      outline: none; }
      .form .input-group input:focus ~ label, .form .input-group input:valid ~ label {
        bottom: 39px;
        font-size: 12px; }
    .form .input-group label {
      position: absolute;
      left: 5px;
      bottom: 10px;
      transition: all 0.3s ease-in-out;
      font-size: 18px; }
  .form .input-group-big {
    position: relative;
    width: 100%; }
    .form .input-group-big textarea {
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      width: 100%;
      font-size: 20px;
      padding: 10px 5px;
      color: #fff;
      outline: none;
      min-height: 150px;
      resize: none; }
    .form .input-group-big label {
      position: absolute;
      left: 5px;
      top: -10px;
      font-size: 12px; }
  .form button {
    width: 100%;
    background: none;
    border: 1px solid #76ad75;
    color: #76ad75;
    padding: 15px 0;
    font-size: 19px;
    border-radius: 25px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out; }
    .form button:hover {
      background: #76ad75;
      color: #000; }

.bottom-bar {
  width: 100%;
  padding: 40px 0;
  font-size: 14px;
  text-align: center;
  order: 3; }

@media screen and (min-width: 768px) {
  .landing-page h1 {
    font-size: 50px;
    width: 70%;
    margin: 0 auto; }

  .landing-page p {
    font-size: 22px; }

  .button-group {
    margin: 60px auto;
    display: flex;
    justify-content: center;
    width: 60%; }
    .button-group a {
      width: calc(50% - 20px);
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center; }

  .whatwedo {
    margin: 15px 60px 0 60px; }

  .tech1, .tech2 {
    padding: 15px 60px 0 60px; }

  .form {
    width: 60%; } }
@media screen and (min-width: 867px) {
  .landing-page h1 {
    font-size: 58px; }

  .whatwedo {
    margin: 15px 20px 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .whatwedo .left {
      order: 1;
      width: 50%;
      padding: 0 15px; }
    .whatwedo .right {
      order: 2;
      width: 50%;
      padding: 0 15px; }
    .whatwedo .modals {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 40px 0; }
      .whatwedo .modals .modal {
        width: calc(50% - 30px);
        margin: 15px 15px; }

  .tech1 .wrapper {
    padding: 15px 20px 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .tech1 .left {
    order: 1;
    width: 50%;
    padding: 0 15px; }
  .tech1 .right {
    order: 2;
    width: 50%;
    padding: 0 15px; }

  .tech2 .wrapper {
    padding: 15px 20px 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .tech2 .left {
    order: 2;
    width: 50%;
    padding: 0 15px; }
  .tech2 .right {
    order: 1;
    width: 50%;
    padding: 0 15px; } }
@media screen and (min-width: 1380px) {
  header .wrapper {
    width: 1280px;
    margin: 0 auto; }

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 60px; }

  .hamburger {
    display: none; }

  .logo {
    width: 50%;
    margin: 0;
    padding: 0; }

  .nav {
    position: static;
    width: 50%;
    background: none;
    display: block;
    transition: none; }
    .nav ul {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end; }
      .nav ul li {
        width: auto;
        margin: 0 15px; }
      .nav ul li:last-child {
        margin-right: 0; }

  .ex-hide {
    display: none !important; }

  .landing-page h1 {
    width: 100%;
    text-align: left;
    font-size: 56px; }
  .landing-page p {
    text-align: left;
    width: 100%;
    padding: 0;
    margin-top: 45px; }

  .button-group {
    margin: 100px 0 0 0;
    width: 100%;
    justify-content: flex-start; }
    .button-group a {
      padding: 20px 30px;
      width: auto;
      margin: 0; }
      .button-group a:last-child {
        margin-left: 12px; }

  .line-break::before {
    content: '\A';
    white-space: pre; }

  .img-group {
    display: block;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 40px; }
    .img-group img, .img-group .mobile {
      display: block;
      max-height: 65px;
      width: 16.66666% !important; }

  .whatwedo {
    width: 1280px;
    margin: 100px auto;
    box-sizing: border-box; }
    .whatwedo .side {
      margin-bottom: 100px;
      padding: 0; }
    .whatwedo .left {
      width: calc(50% - 35px);
      margin-right: 35px; }
    .whatwedo .right {
      width: calc(50% - 35px);
      margin-left: 35px; }

  .modals {
    margin: 0;
    flex-wrap: nowrap !important; }

  .modal {
    width: calc(25% - 35px) !important;
    margin: 0 35px !important; }
    .modal:first-child {
      margin-left: 0 !important; }
    .modal:last-child {
      margin-right: 0 !important; }

  .tech1 .wrapper, .tech2 .wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0; }
  .tech1 .side, .tech2 .side {
    padding: 0 !important;
    margin: 150px 0; }
  .tech1 .left, .tech2 .left {
    width: calc(50% - 35px);
    margin-right: 35px; }
  .tech1 .right, .tech2 .right {
    width: calc(50% - 35px);
    margin-left: 35px; }

  .tech2 .left {
    margin: 150px 0 150px 35px; }
  .tech2 .right {
    margin: 150px 35px 150px 0; }

  footer .wrapper {
    width: 1280px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; }

  .form-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end; }

  .contact {
    width: 40%;
    order: 1; }
    .contact p {
      text-align: left; }
    .contact .socials {
      justify-content: flex-start; }
    .contact hr {
      margin-top: 45px; }

  .bottom-bar {
    text-align: left;
    padding: 70px 0; }

  .form {
    width: 60% !important;
    order: 2; }
    .form h3 {
      text-align: left;
      margin-left: 15px; }
    .form button {
      width: auto;
      padding: 25px 40px;
      border-radius: 50px;
      text-align: right;
      margin-right: 15px; }

  .group {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .group .input-group {
      width: calc(50% - 30px);
      margin: 30px 15px; }
    .group .input-group-big {
      margin: 30px 15px; } }

/*# sourceMappingURL=main.css.map */
